/* reseteamos  */
*, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* le doy una fuente a las letras, que traje desde Google Fonts, y el fondo */
body{
    font-family: "audiowide", cursive; /* le doy la fuente */
    background-color: #f4f4f4; /* le doy un fondo al body */
}
/* le doy estilo a la barra nav */
.menu{
    height: 75px; /* le doy el alto a la barra nav */
    width: 100vw; /* le doy el ancho, y en vw(viewport) para darle todo el ancho donde se este viendo*/
    display: flex; /* para usar flexbox */
    justify-content: space-between; /* divido el espacio en los 3 elementos que tengo de toda nuestra y el navegador le da la separacion correspondiente para cada elemento */
    align-items: center; /* centramos verticalmente la barra nav */ 
}
/* ponemos un pseudoelemento para acceder a una parte de mi pagina, es para poner la imagen antes de la barra nav, por eso es before */
.menu::before{
    content: ""; /* es para poner contenido, x ej. un dialogo, en este caso loe dejamos en blanco xq no le vamos a poner nada */
    position: absolute; /*  */
    top: 0; /*  */
    left: 0; /* lo posicionamos a la izquierda */
    width: 100%; /* le damos la ancho */
    height: 100%; /* le damos la altura */
    background-position:0 0vw; /* para mover la imagen 0 en "x" y -15 en "y" */
    background-size:contain; /* le damos el tamaño a la imagen de fondo */
    background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2018/05/hogwarts-mystery_1.jpg); /* agregamos una imagen de fondo mediante una url */
    clip-path: polygon(100% 0, 100% 20%, 50% 32%, 0 20%, 0 0); /* le dimos una forma de pentagono a la barra mediante clippy */
    z-index:-1; /* para que la imagen me permita ver las letras */
}
/* le damos estilo al logo */
.logo{
    color: #fff; /* le damos el color */
    font-size: 35px; /* le damos el tamaño */
    padding: 0 80px; /* 0 arriba y abajo y 80px a los lados */
    font-weight: bold; /* para la tamaño */
    padding-top: 105px;
}
/* le damos estilo a nuestra lista del menu */
.menu_items{
    display: flex; /* para poscionar a los elementos uno al lado del otro */
    list-style: none; /* para sacarle las pelotitas a las listas */
    margin-right: 30px; /* le damos margen para que se separe del borde derecho de la pantalla */
/* le damos estiilo a nuestras listas */
}
.menu_items li{
    
    margin: 0 5px; /* le damos margen de  0 arriba y abajo y 5px a los lados */
}
/* le damos estilo a las etiquetas "a" que son los links */
.menu_items li a{
    padding: 7px 13px; /* le damos 7px arriba y abajo y 13px a los lados*/
    text-decoration: none; /* para sacarle el subrayado */
    font-size: 18px;/* por ahora le damos ese tamaño y despues lo cambiamos para dispositvos moviles*/
    display: block; /* para los links ocupen todo el espacio disponible dentro de los li */
    text-transform: uppercase; /* para que este todo en mayuscula */
    color:#f4f4f4;
    
}
/* le damos un pequeño fondo cuando nos posicionamos encima de los elementos */
.menu_items li a:hover{
    color: #d22938; /* le damos color al fondo */
    transition: .4s; /* le damos 4 segundos para que no sea muy brusca el fondo */
}
/* le damos estilo al boton del menu */
.btn_menu{
    margin-right: 30px; /* para que se separe del maargen derecho de la pantalla */
    font-size: 25px; /* le damos el tamaño */
    color: #fff; /* le damos color */
    cursor: pointer; /* para que se vea la manito cuando nos posicionemos sobre el elemento */
    display: none; /* este boton se va a mostrar solamente en moviles */
}
/* para mostrar u ocultar el menu */
ul.mostrar{
    top: 65px;
}
/* ponemos media querys para hacerlo responsivo, la primer mediaquery q utilizamos es de 952px con 2 modificaciones */
@media screen and (max-width:952px){
    /* para modificar el logo */
    .logo{
        font-size: 30px;/* le qutitamos un poco de tamaño de la fuente */
        padding-left: 35px;/* le restamos un poco de padding left */
    }
    /* para modificar las los links */
    .menu_items li a{
        font-size: 16px;
    }
}
/* la segunda mediaquery va ser de 858px con modificaciones */
@media screen and (max-width: 858px){
    .menu{
        height: 65px; /* le colocamos el alto de 65px */
    }
    .btn_menu{
        display: inline-flex; /* para que se me muestre el boton para poder abrir el menu, y que se muestren en la posicion que le corresponde */
    }
    /* vamos a modificar el listado de nuestro menu que nuestra lista desordenada "ul" */
    .menu_items{
        position: fixed; /* le damos posicion fija xq la vmaos a sacar del viewport para darle el efecto que ingresa desde arriba, para poder manipularla */
        width: 100vw; /* para que ocupe todo el tamaño del viewport */
        height: calc(100%-65px); /* el alto debe ser realtivo al tamaño de la pantalla menos del tamaño del nav, el navegador va a calcular para ver que tamaño le va a dar */
        background:#414141; /* le damos un fondo */
        top: -100vh; /* le vamos a sacar del viewport, hacia arriba fuera de la pantalla */
        text-align: center; /* para alinear el texto al centro */
        transition: all .4s;
        flex-direction: column; /* para poner los elementos uno abajo del otro, para los dispositivos moviles */
    }
    /* le damos estilo a nuestro menu de nuestra lista */
    .menu_items li{
        margin: 30px 0 0 0; /* le damos un margen de 30px arriba, 0 derecha, 0 a la abajo y 0 a la izquierda */
        line-height: 30px; 
    }
    /* le damos estilo cuando nos pocicionamos encima */
    .menu_items li:hover{
        background: none; /* le quitamos el fondo cuando estemos en moviles */
    }
    /* le damos estilo a los links */
    .menu_items li a{
        font-size: 20px; /* le cambiamos la fuente para q se vea mejor */
        color: #fff; /* ahora le ponemos claro porque el fondo va ser oscuro */
        font-weight: bold; /* le damos esto para que se vea mas y mejor */
    }
    /* le cambiamos el estado hover de cada uno de los links */
    .menu_items li a:hover{
        color: lightpink;
    }
    /* le cambiamos el estilo al logo */
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
    /* para poner en el dispositivo movil de costado y se vea bien */
    @media screen and (max-width: 858px) and (orientation: landscape) /* esta orientation es para que sea horizontal */{
        .menu_items li{
            margin: 5px 0 0 0; /* le bajamos considerablemente el margen de las listas "li" */
        }
        .menu_items{
            overflow: scroll; /* para que el usuario sea capaz de arrastrar el "ul" y ver todas las opciones disponibles*/
            height: calc(100%-65px); 
        }
    }
}
